.homeContainer {
    width: 100%;
}

.headertxt {
    font-size: 18px;
    font-weight: 600;

}

.headerWrapper {
    height: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}